@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,700|Open+Sans+Condensed:700);

#ecc{ margin: 0; padding: 0; font-size: 16px; font-family: 'Open Sans', sans-serif; font-weight: 300; line-height: 24px; max-width: 800px;} 

#ecc main { background-color: #444;}

#ecc main section { width: 25%; float: left; text-align: center; padding-top: 110px; color: #fff; background-position: center 5px; background-size: 63px 100px; background-repeat:no-repeat;}

#ecc main::after { content: ''; display: block; clear: both;}

#ecc main section.inc{ background-color: #ba2d2d; background-image: url(images/bulb_inc.svg);}
#ecc main section.hal{ background-color: #de6615; background-image: url(images/bulb_hal.svg);}
#ecc main section.cfl{ background-color: #efc20f; background-image: url(images/bulb_cfl.svg);}
#ecc main section.led{ background-color: #36b23c; background-image: url(images/bulb_led.svg);}

#ecc main section > div { padding: 5px 0; background-color: rgba(0,0,0,0.15); }

#ecc main h4 { font-family: 'Open Sans Condensed', sans-serif; font-size: .8em; letter-spacing: 1px; margin: 0 0 5px 0; text-transform: uppercase; }
 
#ecc main p { margin: 0; font-size: 1.5em; font-weight: 700; }
#ecc main p + p { font-size: 1em; font-weight: 400;}
#ecc main p::after { content: 'w';}
#ecc main p+p::before { content: '$';}
#ecc main p+p::after { content: 'per year'; color: rgba(255,255,255,0.5); padding-left: 4px;}

#ecc form { background-color: black; margin: 0; padding: 10px 0px; }

#ecc form br {
	display: none;
}

#ecc form > div { color: #FFF; width: 33%; float: left; text-align: center; padding: 10px 0 5px 0; }
#ecc form::after {content: ''; display: block; clear: both; }

#ecc form h4 { color: #aaa; font-size: 1.5em; font-weight: 300; margin: 0 0 -5px 0; }

#ecc form p {color: #888; margin: 0 0 6px 0; font-size: 0.9em; }

#ecc form input[type=number] { width: 50px; text-align: left; font-size: 1em; }

#ecc form select { font-size: 1em; -webkit-appearance: none; -moz-appearance: none; -ms-appearance: none; -o-appearance: none; appearance: none; background: #fff url(images/icons_arrows.svg) no-repeat right 6px; background-size: 30px 20px; padding: 3px 30px 3px 5px; }

#ecc form select::-ms-expand{display: none;}






